![Screenshot 2022-07-05 at 20.40.45.png]()

In [ ]:
print("Welcome to Pandas-3")

Welcome to Pandas-3

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!gdown 1s2TkjSpzNc4SyxqRrQleZyDIHlc7bxnd

Downloading...
From: https://drive.google.com/uc?id=1s2TkjSpzNc4SyxqRrQleZyDIHlc7bxnd
To: /content/movies.csv
100% 112k/112k [00:00<00:00, 73.4MB/s]

In [ ]:
!gdown 1Ws-_s1fHZ9nHfGLVUQurbHDvStePlEJm

Downloading...
From: https://drive.google.com/uc?id=1Ws-_s1fHZ9nHfGLVUQurbHDvStePlEJm
To: /content/directors.csv
100% 65.4k/65.4k [00:00<00:00, 66.7MB/s]

In [ ]:
movies=pd.read_csv("movies.csv",index_col=0)
movies

,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
5,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...
4736,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday
4743,48370,27000,19,3151130,Clerks,7.4,755,5369,1994,Sep,Tuesday
4748,48375,0,7,0,Rampage,6.0,131,5148,2009,Aug,Friday
4749,48376,0,3,0,Slacker,6.4,77,5535,1990,Jul,Friday
4768,48395,220000,14,2040920,El Mariachi,6.6,238,5097,1992,Sep,Friday

In [ ]:
directors=pd.read_csv("directors.csv",index_col=0)
directors

          director_name    id gender
0         James Cameron  4762   Male
1        Gore Verbinski  4763   Male
2            Sam Mendes  4764   Male
3     Christopher Nolan  4765   Male
4        Andrew Stanton  4766   Male
...                 ...   ...    ...
2344      Shane Carruth  7106   Male
2345   Neill Dela Llana  7107    NaN
2346        Scott Smith  7108    NaN
2347        Daniel Hsia  7109   Male
2348   Brian Herzlinger  7110   Male

[2349 rows x 3 columns]

In [ ]:
data=movies.merge(directors,left_on="director_id",right_on="id",how="left")
data

,id_x,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,director_name,id_y,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday,James Cameron,4762,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday,Gore Verbinski,4763,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday,Sam Mendes,4764,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday,Christopher Nolan,4765,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday,Sam Raimi,4767,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,4809,1978,May,Monday,Martin Scorsese,4809,Male
1461,48370,27000,19,3151130,Clerks,7.4,755,5369,1994,Sep,Tuesday,Kevin Smith,5369,Male
1462,48375,0,7,0,Rampage,6.0,131,5148,2009,Aug,Friday,Uwe Boll,5148,Male
1463,48376,0,3,0,Slacker,6.4,77,5535,1990,Jul,Friday,Richard Linklater,5535,Male
1464,48395,220000,14,2040920,El Mariachi,6.6,238,5097,1992,Sep,Friday,Robert Rodriguez,5097,NaN

In [ ]:
data.drop(["director_id","id_y"],axis=1,inplace=True)
data

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male
1461,48370,27000,19,3151130,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,Male
1462,48375,0,7,0,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,Male
1463,48376,0,3,0,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,Male
1464,48395,220000,14,2040920,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,NaN

In [ ]:
data

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male
1461,48370,27000,19,3151130,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,Male
1462,48375,0,7,0,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,Male
1463,48376,0,3,0,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,Male
1464,48395,220000,14,2040920,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,NaN

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1465 entries, 0 to 1464
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_x           1465 non-null   int64
 1   budget         1465 non-null   int64
 2   popularity     1465 non-null   int64
 3   revenue        1465 non-null   int64
 4   title          1465 non-null   object
 5   vote_average   1465 non-null   float64
 6   vote_count     1465 non-null   int64
 7   year           1465 non-null   int64
 8   month          1465 non-null   object
 9   day            1465 non-null   object
 10  director_name  1465 non-null   object
 11  gender         1341 non-null   object
dtypes: float64(1), int64(6), object(5)
memory usage: 148.8+ KB

In [ ]:
data.describe(include="all")

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
count,1465.000000,1.465000e+03,1465.000000,1.465000e+03,1465,1465.000000,1465.000000,1465.000000,1465,1465,1465,1341
unique,NaN,NaN,NaN,NaN,1465,NaN,NaN,NaN,12,7,199,2
top,NaN,NaN,NaN,NaN,Avatar,NaN,NaN,NaN,Dec,Friday,Steven Spielberg,Male
freq,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,193,654,26,1309
mean,45225.191126,4.802295e+07,30.855973,1.432539e+08,NaN,6.368191,1146.396587,2002.615017,NaN,NaN,NaN,NaN
std,1189.096396,4.935541e+07,34.845214,2.064918e+08,NaN,0.818033,1578.077438,8.680141,NaN,NaN,NaN,NaN
min,43597.000000,0.000000e+00,0.000000,0.000000e+00,NaN,3.000000,1.000000,1976.000000,NaN,NaN,NaN,NaN
25%,44236.000000,1.400000e+07,11.000000,1.738013e+07,NaN,5.900000,216.000000,1998.000000,NaN,NaN,NaN,NaN
50%,45022.000000,3.300000e+07,23.000000,7.578164e+07,NaN,6.400000,571.000000,2004.000000,NaN,NaN,NaN,NaN
75%,45990.000000,6.600000e+07,41.000000,1.792469e+08,NaN,6.900000,1387.000000,2009.000000,NaN,NaN,NaN,NaN
max,48395.000000,3.800000e+08,724.000000,2.787965e+09,NaN,8.300000,13752.000000,2016.000000,NaN,NaN,NaN,NaN

In [ ]:
data

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male
1461,48370,27000,19,3151130,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,Male
1462,48375,0,7,0,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,Male
1463,48376,0,3,0,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,Male
1464,48395,220000,14,2040920,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,NaN

In [ ]:
data["revenue"]=(data["revenue"]/1000000).round(2)
data

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237000000,150,2787.97,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300000000,139,961.00,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245000000,107,880.67,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250000000,112,1084.94,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258000000,115,890.87,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,0.32,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male
1461,48370,27000,19,3.15,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,Male
1462,48375,0,7,0.00,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,Male
1463,48376,0,3,0.00,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,Male
1464,48395,220000,14,2.04,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,NaN

In [ ]:
data["budget"]=(data["budget"]/1000000).round(2)
data

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237.00,150,2787.97,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300.00,139,961.00,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245.00,107,880.67,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250.00,112,1084.94,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258.00,115,890.87,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0.00,3,0.32,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male
1461,48370,0.03,19,3.15,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,Male
1462,48375,0.00,7,0.00,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,Male
1463,48376,0.00,3,0.00,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,Male
1464,48395,0.22,14,2.04,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,NaN

In [ ]:
data.loc[data['vote_average']>7]

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237.00,150,2787.97,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
3,43600,250.00,112,1084.94,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
14,43616,250.00,120,956.02,The Hobbit: The Battle of the Five Armies,7.1,4760,2014,Dec,Wednesday,Peter Jackson,Male
16,43619,250.00,94,958.40,The Hobbit: The Desolation of Smaug,7.6,4524,2013,Dec,Wednesday,Peter Jackson,Male
19,43622,200.00,100,1845.03,Titanic,7.5,7562,1997,Nov,Tuesday,James Cameron,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1456,48321,0.01,20,7.00,Eraserhead,7.5,485,1977,Mar,Saturday,David Lynch,Male
1457,48323,0.00,5,0.00,The Mighty,7.1,51,1998,Oct,Friday,Peter Chelsom,Male
1458,48335,0.06,27,3.22,Pi,7.1,586,1998,Jul,Friday,Darren Aronofsky,Male
1460,48363,0.00,3,0.32,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male
1461,48370,0.03,19,3.15,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,Male

In [ ]:
df=data.copy()
df

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237.00,150,2787.97,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300.00,139,961.00,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245.00,107,880.67,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250.00,112,1084.94,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258.00,115,890.87,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0.00,3,0.32,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male
1461,48370,0.03,19,3.15,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,Male
1462,48375,0.00,7,0.00,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,Male
1463,48376,0.00,3,0.00,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,Male
1464,48395,0.22,14,2.04,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,NaN

In [ ]:
df.loc[df['vote_average']>7,["title","director_name"]]

                                          title      director_name
0                                        Avatar      James Cameron
3                         The Dark Knight Rises  Christopher Nolan
14    The Hobbit: The Battle of the Five Armies      Peter Jackson
16          The Hobbit: The Desolation of Smaug      Peter Jackson
19                                      Titanic      James Cameron
...                                         ...                ...
1456                                 Eraserhead        David Lynch
1457                                 The Mighty      Peter Chelsom
1458                                         Pi   Darren Aronofsky
1460                             The Last Waltz    Martin Scorsese
1461                                     Clerks        Kevin Smith

[301 rows x 2 columns]

In [ ]:
df.loc[(df["vote_average"]>7) & (df["year"]>=2015)].head()

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
30,43641,190.0,102,1506.25,Furious 7,7.3,4176,2015,Apr,Wednesday,James Wan,Male
78,43724,150.0,434,378.86,Mad Max: Fury Road,7.2,9427,2015,May,Wednesday,George Miller,Male
106,43773,135.0,100,532.95,The Revenant,7.3,6396,2015,Dec,Friday,Alejandro González Iñárritu,Male
162,43867,108.0,167,630.16,The Martian,7.6,7268,2015,Sep,Wednesday,Ridley Scott,Male
312,44128,75.0,48,108.15,The Man from U.N.C.L.E.,7.1,2265,2015,Aug,Thursday,Guy Ritchie,Male

In [ ]:
df.loc[df['title'] < "Avengers"]

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237.0,150,2787.97,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
23,43629,200.0,78,1025.49,Alice in Wonderland,6.4,4645,2010,Mar,Wednesday,Tim Burton,Male
40,43656,200.0,45,769.65,2012,5.6,4903,2009,Oct,Saturday,Roland Emmerich,Male
41,43657,200.0,39,325.23,A Christmas Carol,6.6,1095,2009,Nov,Wednesday,Robert Zemeckis,Male
69,43709,155.0,39,167.30,Alexander,5.6,927,2004,Nov,Sunday,Oliver Stone,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1390,47491,3.0,7,20.97,A Room with a View,6.9,156,1985,Dec,Friday,James Ivory,Male
1395,47575,3.0,3,0.00,Amnesiac,4.1,52,2015,Aug,Friday,Michael Polish,Male
1405,47686,2.0,23,20.91,Amores perros,7.6,521,2000,Jun,Friday,Alejandro González Iñárritu,Male
1432,47970,0.0,3,0.00,All the Real Girls,5.9,30,2003,Aug,Friday,David Gordon Green,Male
1440,48155,0.0,0,0.00,Alleluia! The Devil's Carnival,6.0,2,2016,Mar,Tuesday,Darren Lynn Bousman,Male

In [ ]:
df.loc[df["title"].str.contains("The")]

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
3,43600,250.00,112,1084.94,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
9,43610,255.00,49,89.29,The Lone Ranger,5.9,2311,2013,Jul,Wednesday,Gore Verbinski,Male
11,43612,225.00,53,419.65,The Chronicles of Narnia: Prince Caspian,6.3,1630,2008,May,Thursday,Andrew Adamson,Male
14,43616,250.00,120,956.02,The Hobbit: The Battle of the Five Armies,7.1,4760,2014,Dec,Wednesday,Peter Jackson,Male
16,43619,250.00,94,958.40,The Hobbit: The Desolation of Smaug,7.6,4524,2013,Dec,Wednesday,Peter Jackson,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1440,48155,0.00,0,0.00,Alleluia! The Devil's Carnival,6.0,2,2016,Mar,Tuesday,Darren Lynn Bousman,Male
1443,48192,0.35,35,29.40,The Evil Dead,7.3,894,1981,Oct,Thursday,Sam Raimi,Male
1449,48244,0.25,6,0.06,The Canyons,4.1,75,2013,Jul,Monday,Paul Schrader,NaN
1457,48323,0.00,5,0.00,The Mighty,7.1,51,1998,Oct,Friday,Peter Chelsom,Male
1460,48363,0.00,3,0.32,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male

In [ ]:
df.loc[df['title'].str.startswith("Batman")]

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
5,43606,250.0,155,873.26,Batman v Superman: Dawn of Justice,5.7,7004,2016,Mar,Wednesday,Zack Snyder,Male
74,43716,150.0,115,374.22,Batman Begins,7.5,7359,2005,Jun,Friday,Christopher Nolan,Male
128,43807,125.0,50,238.21,Batman & Robin,4.2,1418,1997,Jun,Friday,Joel Schumacher,Male
184,43896,100.0,48,336.53,Batman Forever,5.2,1498,1995,May,Wednesday,Joel Schumacher,Male
257,44025,80.0,59,280.00,Batman Returns,6.6,1673,1992,Jun,Friday,Tim Burton,Male
704,44956,35.0,44,411.35,Batman,7.0,2096,1989,Jun,Friday,Tim Burton,Male

In [ ]:
df.sort_values(["popularity"],ascending=False).head()

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
58,43692,165.0,724,675.12,Interstellar,8.1,10867,2014,Nov,Wednesday,Christopher Nolan,Male
78,43724,150.0,434,378.86,Mad Max: Fury Road,7.2,9427,2015,May,Wednesday,George Miller,Male
119,43796,140.0,271,655.01,Pirates of the Caribbean: The Curse of the Bla...,7.5,6985,2003,Jul,Wednesday,Gore Verbinski,Male
120,43797,125.0,206,752.10,The Hunger Games: Mockingjay - Part 1,6.6,5584,2014,Nov,Tuesday,Francis Lawrence,Male
45,43662,185.0,187,1004.56,The Dark Knight,8.2,12002,2008,Jul,Wednesday,Christopher Nolan,Male

In [ ]:
df.loc[df['director_name']=="Christopher Nolan",["title"]]

                      title
3     The Dark Knight Rises
45          The Dark Knight
58             Interstellar
59                Inception
74            Batman Begins
565                Insomnia
641            The Prestige
1341                Memento

In [ ]:
# How to get the details of movies released in the month of 'Jan' or 'Nov' from the dataset ?

In [ ]:
df.loc[(df['month']=='Jan') | (df['month']=='Nov')]

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
19,43622,200.00,100,1845.03,Titanic,7.5,7562,1997,Nov,Tuesday,James Cameron,Male
41,43657,200.00,39,325.23,A Christmas Carol,6.6,1095,2009,Nov,Wednesday,Robert Zemeckis,Male
47,43666,170.00,32,185.77,Hugo,7.0,2141,2011,Nov,Tuesday,Martin Scorsese,Male
56,43687,165.00,47,305.88,The Polar Express,6.4,1474,2004,Nov,Wednesday,Robert Zemeckis,Male
58,43692,165.00,724,675.12,Interstellar,8.1,10867,2014,Nov,Wednesday,Christopher Nolan,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1441,48162,0.00,7,0.77,Bloody Sunday,7.2,53,2002,Jan,Wednesday,Paul Greengrass,Male
1444,48204,0.31,1,1.28,Tumbleweeds,6.2,11,1999,Nov,Sunday,Gavin O'Connor,Male
1447,48231,0.00,3,0.00,Better Luck Tomorrow,6.5,27,2002,Jan,Saturday,Justin Lin,NaN
1448,48233,0.00,0,0.00,Chuck & Buck,5.7,16,2000,Jan,Friday,Miguel Arteta,Male
1454,48300,0.15,8,2.89,Tadpole,5.5,19,2002,Nov,Friday,Gary Winick,Male

In [ ]:
# How to filter those records where movies released 
# # in the year(2015,2016,2012) from the above dataset ?

In [ ]:
# a. df['year'].isin([2015, 2016, 2012])

# b. df['year'].in([2015, 2016, 2012])

# c. df['year']==([2015, 2016, 2012])

In [ ]:
# df['year'].in([2015, 2016, 2012])

In [ ]:
df.loc[df['year'].isin([2015, 2016, 2012])]

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
2,43599,245.0,107,880.67,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250.0,112,1084.94,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
5,43606,250.0,155,873.26,Batman v Superman: Dawn of Justice,5.7,7004,2016,Mar,Wednesday,Zack Snyder,Male
13,43615,225.0,52,624.03,Men in Black 3,6.2,4160,2012,May,Wednesday,Barry Sonnenfeld,Male
20,43624,209.0,64,303.03,Battleship,5.5,2114,2012,Apr,Wednesday,Peter Berg,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1370,47343,4.0,24,52.43,The Boy Next Door,4.1,1022,2015,Jan,Friday,Rob Cohen,Male
1395,47575,3.0,3,0.00,Amnesiac,4.1,52,2015,Aug,Friday,Michael Polish,Male
1410,47719,13.5,5,0.19,Stonewall,5.2,32,2015,Sep,Friday,Roland Emmerich,Male
1439,48146,0.0,10,0.32,Good Kill,5.9,208,2015,Apr,Thursday,Andrew Niccol,Male
1440,48155,0.0,0,0.00,Alleluia! The Devil's Carnival,6.0,2,2016,Mar,Tuesday,Darren Lynn Bousman,Male

In [ ]:
df.loc[df['director_name']=="Christopher Nolan",["title"]].count()

title    8
dtype: int64

In [ ]:
len(df.loc[df['director_name']=="Christopher Nolan",["title"]])

8

In [ ]:
df['director_name'].value_counts()

Steven Spielberg      26
Martin Scorsese       19
Clint Eastwood        19
Woody Allen           18
Ridley Scott          16
                      ..
Tim Hill               5
Jonathan Liebesman     5
Roman Polanski         5
Larry Charles          5
Nicole Holofcener      5
Name: director_name, Length: 199, dtype: int64

In [ ]:
x=df.groupby(["director_name"])

In [ ]:
x.get_group("Adam McKay")

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
176,43882,100.0,24,170.43,The Other Guys,6.1,1383,2010,Aug,Friday,Adam McKay,Male
323,44151,72.5,12,162.97,Talladega Nights: The Ballad of Ricky Bobby,6.2,491,2006,Aug,Friday,Adam McKay,Male
366,44236,65.0,22,128.11,Step Brothers,6.5,1062,2008,Jul,Friday,Adam McKay,Male
505,44503,50.0,38,173.65,Anchorman 2: The Legend Continues,6.0,923,2013,Dec,Wednesday,Adam McKay,Male
839,45301,28.0,57,133.35,The Big Short,7.3,2607,2015,Dec,Friday,Adam McKay,Male
916,45443,26.0,29,90.57,Anchorman: The Legend of Ron Burgundy,6.7,1493,2004,Jul,Friday,Adam McKay,Male

In [ ]:
df.groupby(["director_name"])

In [ ]:
df.groupby(["director_name"])["budget"].max()

director_name
Adam McKay                     100.0
Adam Shankman                   80.0
Alejandro González Iñárritu    135.0
Alex Proyas                    140.0
Alexander Payne                 30.0
                               ...
Wes Craven                      40.0
Wolfgang Petersen              175.0
Woody Allen                     30.0
Zack Snyder                    250.0
Zhang Yimou                     94.0
Name: budget, Length: 199, dtype: float64

In [ ]:
df.groupby(["director_name"])["title"].count()

director_name
Adam McKay                      6
Adam Shankman                   8
Alejandro González Iñárritu     6
Alex Proyas                     5
Alexander Payne                 5
                               ..
Wes Craven                     10
Wolfgang Petersen               7
Woody Allen                    18
Zack Snyder                     7
Zhang Yimou                     6
Name: title, Length: 199, dtype: int64

In [ ]:
df.groupby(["director_name"])["title"].count().sort_values(ascending=False)

director_name
Steven Spielberg    26
Clint Eastwood      19
Martin Scorsese     19
Woody Allen         18
Robert Rodriguez    16
                    ..
Paul Weitz           5
John Madden          5
Paul Verhoeven       5
John Whitesell       5
Kevin Reynolds       5
Name: title, Length: 199, dtype: int64

In [ ]:
df.groupby(["director_name"])["year"].min()

director_name
Adam McKay                     2004
Adam Shankman                  2001
Alejandro González Iñárritu    2000
Alex Proyas                    1994
Alexander Payne                1999
                               ...
Wes Craven                     1984
Wolfgang Petersen              1981
Woody Allen                    1977
Zack Snyder                    2004
Zhang Yimou                    2002
Name: year, Length: 199, dtype: int64

In [ ]:
df.groupby(["director_name"])["year"].max()

director_name
Adam McKay                     2015
Adam Shankman                  2012
Alejandro González Iñárritu    2015
Alex Proyas                    2016
Alexander Payne                2013
                               ...
Wes Craven                     2011
Wolfgang Petersen              2006
Woody Allen                    2013
Zack Snyder                    2016
Zhang Yimou                    2014
Name: year, Length: 199, dtype: int64

In [ ]:
df.groupby(["director_name"])["title"].count()

director_name
Adam McKay                      6
Adam Shankman                   8
Alejandro González Iñárritu     6
Alex Proyas                     5
Alexander Payne                 5
                               ..
Wes Craven                     10
Wolfgang Petersen               7
Woody Allen                    18
Zack Snyder                     7
Zhang Yimou                     6
Name: title, Length: 199, dtype: int64

In [ ]:
x.get_group("Adam McKay")

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
176,43882,100.0,24,170.43,The Other Guys,6.1,1383,2010,Aug,Friday,Adam McKay,Male
323,44151,72.5,12,162.97,Talladega Nights: The Ballad of Ricky Bobby,6.2,491,2006,Aug,Friday,Adam McKay,Male
366,44236,65.0,22,128.11,Step Brothers,6.5,1062,2008,Jul,Friday,Adam McKay,Male
505,44503,50.0,38,173.65,Anchorman 2: The Legend Continues,6.0,923,2013,Dec,Wednesday,Adam McKay,Male
839,45301,28.0,57,133.35,The Big Short,7.3,2607,2015,Dec,Friday,Adam McKay,Male
916,45443,26.0,29,90.57,Anchorman: The Legend of Ron Burgundy,6.7,1493,2004,Jul,Friday,Adam McKay,Male

In [ ]:
df_agg=df.groupby(["director_name"])[["title","year"]].aggregate({"title":"count","year":["min","max"]})
df_agg

                            title  year
                            count   min   max
director_name
Adam McKay                      6  2004  2015
Adam Shankman                   8  2001  2012
Alejandro González Iñárritu     6  2000  2015
Alex Proyas                     5  1994  2016
Alexander Payne                 5  1999  2013
...                           ...   ...   ...
Wes Craven                     10  1984  2011
Wolfgang Petersen               7  1981  2006
Woody Allen                    18  1977  2013
Zack Snyder                     7  2004  2016
Zhang Yimou                     6  2002  2014

[199 rows x 3 columns]

In [ ]:
df_agg["year"]

                              min   max
director_name
Adam McKay                   2004  2015
Adam Shankman                2001  2012
Alejandro González Iñárritu  2000  2015
Alex Proyas                  1994  2016
Alexander Payne              1999  2013
...                           ...   ...
Wes Craven                   1984  2011
Wolfgang Petersen            1981  2006
Woody Allen                  1977  2013
Zack Snyder                  2004  2016
Zhang Yimou                  2002  2014

[199 rows x 2 columns]

In [ ]:
df_agg["year"]["min"]

director_name
Adam McKay                     2004
Adam Shankman                  2001
Alejandro González Iñárritu    2000
Alex Proyas                    1994
Alexander Payne                1999
                               ...
Wes Craven                     1984
Wolfgang Petersen              1981
Woody Allen                    1977
Zack Snyder                    2004
Zhang Yimou                    2002
Name: min, Length: 199, dtype: int64

In [ ]:
df_agg["year"]["max"]

director_name
Adam McKay                     2015
Adam Shankman                  2012
Alejandro González Iñárritu    2015
Alex Proyas                    2016
Alexander Payne                2013
                               ...
Wes Craven                     2011
Wolfgang Petersen              2006
Woody Allen                    2013
Zack Snyder                    2016
Zhang Yimou                    2014
Name: max, Length: 199, dtype: int64

In [ ]:
df_agg.columns

MultiIndex([('title', 'count'),
            ( 'year',   'min'),
            ( 'year',   'max')],
           )

In [ ]:
df_agg.columns=["_".join(col) for col in df_agg.columns]
df_agg

                             title_count  year_min  year_max
director_name
Adam McKay                             6      2004      2015
Adam Shankman                          8      2001      2012
Alejandro González Iñárritu            6      2000      2015
Alex Proyas                            5      1994      2016
Alexander Payne                        5      1999      2013
...                                  ...       ...       ...
Wes Craven                            10      1984      2011
Wolfgang Petersen                      7      1981      2006
Woody Allen                           18      1977      2013
Zack Snyder                            7      2004      2016
Zhang Yimou                            6      2002      2014

[199 rows x 3 columns]

In [ ]:
df_agg.reset_index(inplace=True)
df_agg

                   director_name  title_count  year_min  year_max
0                     Adam McKay            6      2004      2015
1                  Adam Shankman            8      2001      2012
2    Alejandro González Iñárritu            6      2000      2015
3                    Alex Proyas            5      1994      2016
4                Alexander Payne            5      1999      2013
..                           ...          ...       ...       ...
194                   Wes Craven           10      1984      2011
195            Wolfgang Petersen            7      1981      2006
196                  Woody Allen           18      1977      2013
197                  Zack Snyder            7      2004      2016
198                  Zhang Yimou            6      2002      2014

[199 rows x 4 columns]

In [ ]:
df_agg["years_active"]=df_agg["year_max"]-df_agg["year_min"]
df_agg

,director_name,title_count,year_min,year_max,years_active
0,Adam McKay,6,2004,2015,11
1,Adam Shankman,8,2001,2012,11
2,Alejandro González Iñárritu,6,2000,2015,15
3,Alex Proyas,5,1994,2016,22
4,Alexander Payne,5,1999,2013,14
...,...,...,...,...,...
194,Wes Craven,10,1984,2011,27
195,Wolfgang Petersen,7,1981,2006,25
196,Woody Allen,18,1977,2013,36
197,Zack Snyder,7,2004,2016,12
198,Zhang Yimou,6,2002,2014,12

In [ ]:
df_agg["movies_per_year"]=df_agg["title_count"]/df_agg["years_active"]

In [ ]:
df_agg

,director_name,title_count,year_min,year_max,years_active,movies_per_year
0,Adam McKay,6,2004,2015,11,0.545455
1,Adam Shankman,8,2001,2012,11,0.727273
2,Alejandro González Iñárritu,6,2000,2015,15,0.400000
3,Alex Proyas,5,1994,2016,22,0.227273
4,Alexander Payne,5,1999,2013,14,0.357143
...,...,...,...,...,...,...
194,Wes Craven,10,1984,2011,27,0.370370
195,Wolfgang Petersen,7,1981,2006,25,0.280000
196,Woody Allen,18,1977,2013,36,0.500000
197,Zack Snyder,7,2004,2016,12,0.583333
198,Zhang Yimou,6,2002,2014,12,0.500000

In [ ]:
df_agg.sort_values(["movies_per_year"],ascending=False,inplace=True)

In [ ]:
df_agg.head()

,director_name,title_count,year_min,year_max,years_active,movies_per_year
190,Tyler Perry,9,2006,2013,7,1.285714
73,Jason Friedberg,5,2006,2010,4,1.250000
169,Shawn Levy,11,2002,2014,12,0.916667
1,Adam Shankman,8,2001,2012,11,0.727273
158,Robert Rodriguez,16,1992,2014,22,0.727273

In [ ]:
# For each year , how you will get the average, lowest, and highest value of ratings of movies?
# a. df.groupby('year').agg({'vote_average': ['mean', 'min', 'max']})

# b. df.groupby['year'].agg({'vote_average': ['mean', 'min', 'max']})

# c. df.groupby('year').agg(('vote_average': ['mean', 'min', 'max']))

In [ ]:
df_dir_budget=df.groupby(["director_name"])["budget"].max().reset_index()
df_dir_budget

                   director_name  budget
0                     Adam McKay   100.0
1                  Adam Shankman    80.0
2    Alejandro González Iñárritu   135.0
3                    Alex Proyas   140.0
4                Alexander Payne    30.0
..                           ...     ...
194                   Wes Craven    40.0
195            Wolfgang Petersen   175.0
196                  Woody Allen    30.0
197                  Zack Snyder   250.0
198                  Zhang Yimou    94.0

[199 rows x 2 columns]

In [ ]:
df_dir_budget.loc[df_dir_budget["budget"]>100]

                   director_name  budget
2    Alejandro González Iñárritu   135.0
3                    Alex Proyas   140.0
5                 Andrew Adamson   225.0
10                       Ang Lee   137.0
15              Barry Sonnenfeld   225.0
..                           ...     ...
185                    Tim Story   130.0
187                  Tom Shadyac   175.0
188                   Tom Tykwer   102.0
195            Wolfgang Petersen   175.0
197                  Zack Snyder   250.0

[79 rows x 2 columns]

In [ ]:
df.groupby("director_name").filter(lambda x:x["budget"].max()>=100)

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237.00,150,2787.97,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300.00,139,961.00,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245.00,107,880.67,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250.00,112,1084.94,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258.00,115,890.87,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1450,48267,0.40,33,100.00,Mad Max,6.6,1213,1979,Apr,Thursday,George Miller,Male
1451,48268,0.20,13,4.51,Swingers,6.8,253,1996,Oct,Friday,Doug Liman,Male
1452,48274,0.00,5,2.61,Three,6.3,31,2010,Dec,Thursday,Tom Tykwer,Male
1458,48335,0.06,27,3.22,Pi,7.1,586,1998,Jul,Friday,Darren Aronofsky,Male
1460,48363,0.00,3,0.32,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male

In [ ]:
def sub_avg(x):
    x["budget"] =x["budget"]-x["budget"].mean()
df.groupby(["director_name"]).transform(sub_avg)

KeyError: 'budget'

In [ ]:
def sub_avg(x):
    x=x-x.mean()
    return x
df.groupby(["director_name"])["budget"].transform(sub_avg)

0       130.300000
1       141.857143
2       150.142857
3       124.375000
4       174.004545
           ...
1460    -47.478947
1461    -11.976667
1462    -21.700000
1463    -10.890909
1464    -31.168750
Name: budget, Length: 1465, dtype: float64

In [ ]:
def func1(x):
    x["risky"]=(x["budget"]-x["revenue"].mean())>=0
    return x
df_risky=df.groupby(["director_name"]).apply(func1)
df_risky

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,risky
0,43597,237.00,150,2787.97,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male,False
1,43598,300.00,139,961.00,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male,False
2,43599,245.00,107,880.67,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male,False
3,43600,250.00,112,1084.94,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male,False
4,43602,258.00,115,890.87,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0.00,3,0.32,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male,False
1461,48370,0.03,19,3.15,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,Male,False
1462,48375,0.00,7,0.00,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,Male,False
1463,48376,0.00,3,0.00,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,Male,False
1464,48395,0.22,14,2.04,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,NaN,False

In [ ]:
df_risky[df_risky["risky"]==True]

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,risky
7,43608,200.0,107,586.09,Quantum of Solace,6.1,2965,2008,Oct,Thursday,Marc Forster,Male,True
12,43614,380.0,135,1045.71,Pirates of the Caribbean: On Stranger Tides,6.4,4948,2011,May,Saturday,Rob Marshall,Male,True
15,43618,200.0,37,310.67,Robin Hood,6.2,1398,2010,May,Wednesday,Ridley Scott,Male,True
20,43624,209.0,64,303.03,Battleship,5.5,2114,2012,Apr,Wednesday,Peter Berg,Male,True
24,43630,210.0,3,459.36,X-Men: The Last Stand,6.3,3525,2006,May,Wednesday,Brett Ratner,Male,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1347,47224,5.0,7,3.26,The Sweet Hereafter,6.8,103,1997,May,Wednesday,Atom Egoyan,Male,True
1349,47229,5.0,3,4.84,90 Minutes in Heaven,5.4,40,2015,Sep,Friday,Michael Polish,Male,True
1351,47233,5.0,6,0.00,Light Sleeper,5.7,15,1992,Aug,Friday,Paul Schrader,NaN,True
1356,47263,15.0,10,0.00,Dying of the Light,4.5,118,2014,Dec,Thursday,Paul Schrader,NaN,True
1383,47453,3.5,4,0.00,In the Name of the King III,3.3,19,2013,Dec,Friday,Uwe Boll,Male,True

In [ ]:
df[["revenue","budget"]]

      revenue  budget
0     2787.97  237.00
1      961.00  300.00
2      880.67  245.00
3     1084.94  250.00
4      890.87  258.00
...       ...     ...
1460     0.32    0.00
1461     3.15    0.03
1462     0.00    0.00
1463     0.00    0.00
1464     2.04    0.22

[1465 rows x 2 columns]

In [ ]:
df[["revenue","budget"]].apply(np.sum,axis=0)

revenue    209867.04
budget      70353.62
dtype: float64

In [ ]:
df[["revenue","budget"]].apply(np.sum,axis=1)

0       3024.97
1       1261.00
2       1125.67
3       1334.94
4       1148.87
         ...
1460       0.32
1461       3.18
1462       0.00
1463       0.00
1464       2.26
Length: 1465, dtype: float64

In [ ]:
How to sort a pandas data frame in place based on the values of 
Columns country and population in desc order?

In [ ]:

df.sort_values(['country','population'],inplace=True, ascending=False)

In [ ]:
How to get the details of movies released in the month of 'Jan' or 'Nov' from the dataset

In [ ]:
df.loc[(df['month']=='Jan') | (df['month']=='Nov')]

In [ ]:
https://pbpython.com/groupby-agg.html

In [ ]:
df.apply?

In [ ]:
a=pd.DataFrame([[10,20],[30,40]],columns=["A","B"])
a

    A   B
0  10  20
1  30  40

In [ ]:
b=pd.DataFrame({"A":[10,30],"C":[20,40]})
b

    A   C
0  10  20
1  30  40

In [ ]:
c=pd.concat([a,b],keys=["a","b"])
c

      A     B     C
a 0  10  20.0   NaN
  1  30  40.0   NaN
b 0  10   NaN  20.0
  1  30   NaN  40.0

In [ ]:
c.loc[(slice(None),0),:]

      A     B     C
a 0  10  20.0   NaN
b 0  10   NaN  20.0

In [ ]:
c.loc[("a",),:]

    A     B   C
0  10  20.0 NaN
1  30  40.0 NaN