In [ ]:
import pandas as pd
import numpy as np

![Screenshot 2022-07-07 at 20.45.25.png]()

Dataset links

weather - https://drive.google.com/file/d/1wG8GaMi1hhfY6DsUPFjFtDYkumA-m2Xj/view

weather1 - https://drive.google.com/file/d/1tCYv0EBjwPX2aHbZpwJRhYzVDd5rTl9o/view?usp=sharing

weather2 - https://drive.google.com/file/d/1V1RkggkaKmWw0Yv9ywlRdcBUDkZnQMeh/view?usp=sharing

weather3 - https://drive.google.com/file/d/1_dPnZS-91ANpimUWy4cMjNqv5yeKxFJ4/view?usp=sharing

weather4 - https://drive.google.com/file/d/1YOSfGrKPoKSyZuKbjFgtz_8FVisbvZlP/view?usp=sharing

uber - https://drive.google.com/file/d/1TL2hWkMWtD1ExVgaQhWP6A2swR8F8cVB/view?usp=sharing

In [ ]:
!gdown 1wG8GaMi1hhfY6DsUPFjFtDYkumA-m2Xj
!gdown 1tCYv0EBjwPX2aHbZpwJRhYzVDd5rTl9o
!gdown 1V1RkggkaKmWw0Yv9ywlRdcBUDkZnQMeh
!gdown 1_dPnZS-91ANpimUWy4cMjNqv5yeKxFJ4
!gdown 1YOSfGrKPoKSyZuKbjFgtz_8FVisbvZlP
!gdown 1TL2hWkMWtD1ExVgaQhWP6A2swR8F8cVB

Downloading...
From: https://drive.google.com/uc?id=1wG8GaMi1hhfY6DsUPFjFtDYkumA-m2Xj
To: /content/weather.csv
100% 12.0k/12.0k [00:00<00:00, 15.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=1tCYv0EBjwPX2aHbZpwJRhYzVDd5rTl9o
To: /content/weather1.csv
100% 241/241 [00:00<00:00, 288kB/s]
Downloading...
From: https://drive.google.com/uc?id=1V1RkggkaKmWw0Yv9ywlRdcBUDkZnQMeh
To: /content/weather2.csv
100% 215/215 [00:00<00:00, 262kB/s]
Downloading...
From: https://drive.google.com/uc?id=1_dPnZS-91ANpimUWy4cMjNqv5yeKxFJ4
To: /content/weather3.csv
100% 178/178 [00:00<00:00, 223kB/s]
Downloading...
From: https://drive.google.com/uc?id=1YOSfGrKPoKSyZuKbjFgtz_8FVisbvZlP
To: /content/weather4.csv
100% 150/150 [00:00<00:00, 163kB/s]
Downloading...
From: https://drive.google.com/uc?id=1TL2hWkMWtD1ExVgaQhWP6A2swR8F8cVB
To: /content/UberDrives.csv
100% 86.4k/86.4k [00:00<00:00, 48.9MB/s]

In [ ]:
weather=pd.read_csv("weather.csv")
weather1=pd.read_csv("weather1.csv")
weather2=pd.read_csv("weather2.csv")
weather3=pd.read_csv("weather3.csv")
weather4=pd.read_csv("weather4.csv")

In [ ]:
weather.head(22)
# weather.shape

,year,month,element,day1,day2,day3,day4,day5,day6,day7,...,day22,day23,day24,day25,day26,day27,day28,day29,day30,day31
0,2018,1,max,17.573016,19.796815,22.412495,17.813163,20.165825,17.060539,22.736134,...,22.629226,19.013674,17.831558,17.018316,21.837387,19.700255,19.084056,18.534690,20.787275,21.117423
1,2018,1,min,22.725760,21.007865,17.730792,18.045290,20.766734,18.656651,22.607481,...,21.163491,17.371653,17.194530,18.964190,17.892385,17.646139,19.844125,22.729859,19.768917,20.913443
2,2018,2,max,19.015120,19.261805,17.510713,21.080425,17.915749,19.082145,18.056023,...,21.254968,20.346324,20.036019,22.926773,17.533172,20.308927,20.438899,17.005806,18.346534,20.878165
3,2018,2,min,18.653843,22.818600,21.842673,21.958159,22.523078,18.535469,19.636158,...,19.711974,20.586232,18.780840,20.065633,18.293548,20.823661,18.056112,22.748292,22.470172,18.602007
4,2018,3,max,20.741115,19.704016,17.039811,20.703908,22.714125,17.205000,19.079503,...,19.528963,19.563689,22.658997,22.446357,17.911240,22.591993,17.406800,19.118712,22.767154,17.119452
5,2018,3,min,17.250431,20.325829,21.473071,18.132962,18.405875,21.202295,22.756433,...,18.710609,19.523041,18.160872,17.343222,21.365854,18.198453,19.469490,22.732071,19.558373,21.205858
6,2018,4,max,20.408029,21.634346,22.677863,20.839558,19.371399,18.202578,21.916666,...,18.086580,21.861976,22.605832,19.209812,20.832980,20.797801,22.940309,21.036940,21.043597,18.219116
7,2018,4,min,21.849449,19.659674,18.009526,19.450892,22.665184,20.373879,19.245455,...,17.700962,22.241221,18.980226,18.879181,17.709269,20.661247,20.706672,19.968800,18.643717,19.953586
8,2018,5,max,21.354089,21.806705,19.863229,22.475220,18.996700,20.851806,18.774501,...,20.509023,20.080743,22.593543,18.806516,17.161325,19.362999,17.890202,18.695062,18.359134,19.559418
9,2018,5,min,18.889095,20.123320,19.376866,21.989649,17.459797,21.083719,20.670180,...,20.810872,18.254264,20.211035,20.679265,21.625088,21.260536,21.358298,20.760568,19.993844,22.908548
10,2018,6,max,22.419377,20.389671,22.669923,22.810337,20.300108,17.091177,20.195100,...,21.781542,17.015285,19.686188,17.987342,21.435778,21.736961,20.525993,20.003775,21.647975,17.277369
11,2018,6,min,21.121687,19.357005,17.346115,17.359855,18.956584,18.830880,17.514378,...,18.740019,22.893276,18.702475,19.178735,17.166716,21.236775,22.427899,19.030243,22.954366,20.909982
12,2018,7,max,19.006195,19.512117,21.249908,19.472257,17.682757,18.012483,22.622591,...,18.364730,21.049519,22.172182,22.032563,19.726391,19.359546,19.418448,22.130186,20.058017,18.371838
13,2018,7,min,19.704782,20.818029,21.998987,21.641961,21.974238,22.621633,19.706172,...,22.299387,21.523530,20.230445,17.291023,21.060501,18.380388,22.157723,20.065760,21.294903,18.303314
14,2018,8,max,21.736412,20.740506,21.384080,20.838949,19.450819,21.023473,18.996653,...,22.734952,18.310030,22.097507,17.002121,22.911112,19.771628,20.581845,22.614760,19.784193,21.420338
15,2018,8,min,18.896222,18.287267,19.770868,17.797850,18.318406,18.518200,17.960998,...,21.106888,18.091430,19.811531,20.808951,22.064548,21.913260,18.984714,18.327634,19.071913,18.538477
16,2018,10,max,18.503314,21.919221,22.222731,20.056339,21.171342,17.524772,18.845044,...,20.114971,20.885268,19.796539,18.925604,18.503575,20.695417,17.522579,18.225444,20.358178,21.530773
17,2018,10,min,22.845420,20.925599,17.622722,18.288523,17.924307,19.323868,20.499858,...,17.366527,21.204981,17.966559,20.621188,20.377089,21.781845,21.758143,18.036278,17.382997,21.691537
18,2018,11,max,17.994997,18.763467,22.573770,18.971307,22.703736,17.877037,21.348616,...,19.020742,22.752335,21.437482,17.751197,22.461303,22.311952,17.661902,22.275747,18.108529,20.750438
19,2018,11,min,22.275672,20.969661,17.245579,19.999959,21.967979,20.874754,22.106562,...,22.308400,21.021536,22.394417,19.019626,21.287149,20.163074,20.674553,17.862405,22.946974,18.939767
20,2018,12,max,17.367511,20.085256,22.052408,21.705199,21.375349,17.992885,19.683359,...,18.234449,21.399323,20.812194,18.291352,20.828003,20.528289,21.457248,19.919595,18.830226,19.648924
21,2018,12,min,18.175223,18.372862,22.745302,22.179476,20.865535,20.310116,20.531823,...,18.337089,18.498903,19.639278,20.677835,17.974580,18.744409,20.488991,21.662129,20.137534,18.775539

In [ ]:
weather.shape

(22, 34)

In [ ]:
# weather.T

In [ ]:
weather_melt=weather.melt(id_vars=["year","month","element"],
                         var_name="day",
                         value_name="temperature")
weather_melt.head(50)

    year  month element   day  temperature
0   2018      1     max  day1    17.573016
1   2018      1     min  day1    22.725760
2   2018      2     max  day1    19.015120
3   2018      2     min  day1    18.653843
4   2018      3     max  day1    20.741115
5   2018      3     min  day1    17.250431
6   2018      4     max  day1    20.408029
7   2018      4     min  day1    21.849449
8   2018      5     max  day1    21.354089
9   2018      5     min  day1    18.889095
10  2018      6     max  day1    22.419377
11  2018      6     min  day1    21.121687
12  2018      7     max  day1    19.006195
13  2018      7     min  day1    19.704782
14  2018      8     max  day1    21.736412
15  2018      8     min  day1    18.896222
16  2018     10     max  day1    18.503314
17  2018     10     min  day1    22.845420
18  2018     11     max  day1    17.994997
19  2018     11     min  day1    22.275672
20  2018     12     max  day1    17.367511
21  2018     12     min  day1    18.175223
22  2018      1     max  day2    19.796815
23  2018      1     min  day2    21.007865
24  2018      2     max  day2    19.261805
25  2018      2     min  day2    22.818600
26  2018      3     max  day2    19.704016
27  2018      3     min  day2    20.325829
28  2018      4     max  day2    21.634346
29  2018      4     min  day2    19.659674
30  2018      5     max  day2    21.806705
31  2018      5     min  day2    20.123320
32  2018      6     max  day2    20.389671
33  2018      6     min  day2    19.357005
34  2018      7     max  day2    19.512117
35  2018      7     min  day2    20.818029
36  2018      8     max  day2    20.740506
37  2018      8     min  day2    18.287267
38  2018     10     max  day2    21.919221
39  2018     10     min  day2    20.925599
40  2018     11     max  day2    18.763467
41  2018     11     min  day2    20.969661
42  2018     12     max  day2    20.085256
43  2018     12     min  day2    18.372862
44  2018      1     max  day3    22.412495
45  2018      1     min  day3    17.730792
46  2018      2     max  day3    17.510713
47  2018      2     min  day3    21.842673
48  2018      3     max  day3    17.039811
49  2018      3     min  day3    21.473071

In [ ]:
weather_melt.shape

(682, 5)

In [ ]:
weather

,year,month,element,day1,day2,day3,day4,day5,day6,day7,...,day22,day23,day24,day25,day26,day27,day28,day29,day30,day31
0,2018,1,max,17.573016,19.796815,22.412495,17.813163,20.165825,17.060539,22.736134,...,22.629226,19.013674,17.831558,17.018316,21.837387,19.700255,19.084056,18.534690,20.787275,21.117423
1,2018,1,min,22.725760,21.007865,17.730792,18.045290,20.766734,18.656651,22.607481,...,21.163491,17.371653,17.194530,18.964190,17.892385,17.646139,19.844125,22.729859,19.768917,20.913443
2,2018,2,max,19.015120,19.261805,17.510713,21.080425,17.915749,19.082145,18.056023,...,21.254968,20.346324,20.036019,22.926773,17.533172,20.308927,20.438899,17.005806,18.346534,20.878165
3,2018,2,min,18.653843,22.818600,21.842673,21.958159,22.523078,18.535469,19.636158,...,19.711974,20.586232,18.780840,20.065633,18.293548,20.823661,18.056112,22.748292,22.470172,18.602007
4,2018,3,max,20.741115,19.704016,17.039811,20.703908,22.714125,17.205000,19.079503,...,19.528963,19.563689,22.658997,22.446357,17.911240,22.591993,17.406800,19.118712,22.767154,17.119452
5,2018,3,min,17.250431,20.325829,21.473071,18.132962,18.405875,21.202295,22.756433,...,18.710609,19.523041,18.160872,17.343222,21.365854,18.198453,19.469490,22.732071,19.558373,21.205858
6,2018,4,max,20.408029,21.634346,22.677863,20.839558,19.371399,18.202578,21.916666,...,18.086580,21.861976,22.605832,19.209812,20.832980,20.797801,22.940309,21.036940,21.043597,18.219116
7,2018,4,min,21.849449,19.659674,18.009526,19.450892,22.665184,20.373879,19.245455,...,17.700962,22.241221,18.980226,18.879181,17.709269,20.661247,20.706672,19.968800,18.643717,19.953586
8,2018,5,max,21.354089,21.806705,19.863229,22.475220,18.996700,20.851806,18.774501,...,20.509023,20.080743,22.593543,18.806516,17.161325,19.362999,17.890202,18.695062,18.359134,19.559418
9,2018,5,min,18.889095,20.123320,19.376866,21.989649,17.459797,21.083719,20.670180,...,20.810872,18.254264,20.211035,20.679265,21.625088,21.260536,21.358298,20.760568,19.993844,22.908548
10,2018,6,max,22.419377,20.389671,22.669923,22.810337,20.300108,17.091177,20.195100,...,21.781542,17.015285,19.686188,17.987342,21.435778,21.736961,20.525993,20.003775,21.647975,17.277369
11,2018,6,min,21.121687,19.357005,17.346115,17.359855,18.956584,18.830880,17.514378,...,18.740019,22.893276,18.702475,19.178735,17.166716,21.236775,22.427899,19.030243,22.954366,20.909982
12,2018,7,max,19.006195,19.512117,21.249908,19.472257,17.682757,18.012483,22.622591,...,18.364730,21.049519,22.172182,22.032563,19.726391,19.359546,19.418448,22.130186,20.058017,18.371838
13,2018,7,min,19.704782,20.818029,21.998987,21.641961,21.974238,22.621633,19.706172,...,22.299387,21.523530,20.230445,17.291023,21.060501,18.380388,22.157723,20.065760,21.294903,18.303314
14,2018,8,max,21.736412,20.740506,21.384080,20.838949,19.450819,21.023473,18.996653,...,22.734952,18.310030,22.097507,17.002121,22.911112,19.771628,20.581845,22.614760,19.784193,21.420338
15,2018,8,min,18.896222,18.287267,19.770868,17.797850,18.318406,18.518200,17.960998,...,21.106888,18.091430,19.811531,20.808951,22.064548,21.913260,18.984714,18.327634,19.071913,18.538477
16,2018,10,max,18.503314,21.919221,22.222731,20.056339,21.171342,17.524772,18.845044,...,20.114971,20.885268,19.796539,18.925604,18.503575,20.695417,17.522579,18.225444,20.358178,21.530773
17,2018,10,min,22.845420,20.925599,17.622722,18.288523,17.924307,19.323868,20.499858,...,17.366527,21.204981,17.966559,20.621188,20.377089,21.781845,21.758143,18.036278,17.382997,21.691537
18,2018,11,max,17.994997,18.763467,22.573770,18.971307,22.703736,17.877037,21.348616,...,19.020742,22.752335,21.437482,17.751197,22.461303,22.311952,17.661902,22.275747,18.108529,20.750438
19,2018,11,min,22.275672,20.969661,17.245579,19.999959,21.967979,20.874754,22.106562,...,22.308400,21.021536,22.394417,19.019626,21.287149,20.163074,20.674553,17.862405,22.946974,18.939767
20,2018,12,max,17.367511,20.085256,22.052408,21.705199,21.375349,17.992885,19.683359,...,18.234449,21.399323,20.812194,18.291352,20.828003,20.528289,21.457248,19.919595,18.830226,19.648924
21,2018,12,min,18.175223,18.372862,22.745302,22.179476,20.865535,20.310116,20.531823,...,18.337089,18.498903,19.639278,20.677835,17.974580,18.744409,20.488991,21.662129,20.137534,18.775539

In [ ]:
weather4

         day  chicago  chennai  berlin
0     Monday       32       75      41
1    Tuesday       30       77      43
2  Wednesday       28       75      45
3   Thursday       22       82      38
4     Friday       30       83      30
5   Saturday       20       81      45
6     Sunday       25       77      47

In [ ]:
weather_melted=weather4.melt(id_vars="day",
             var_name="city",
             value_name="temp")
weather_melted

          day     city  temp
0      Monday  chicago    32
1     Tuesday  chicago    30
2   Wednesday  chicago    28
3    Thursday  chicago    22
4      Friday  chicago    30
5    Saturday  chicago    20
6      Sunday  chicago    25
7      Monday  chennai    75
8     Tuesday  chennai    77
9   Wednesday  chennai    75
10   Thursday  chennai    82
11     Friday  chennai    83
12   Saturday  chennai    81
13     Sunday  chennai    77
14     Monday   berlin    41
15    Tuesday   berlin    43
16  Wednesday   berlin    45
17   Thursday   berlin    38
18     Friday   berlin    30
19   Saturday   berlin    45
20     Sunday   berlin    47

In [ ]:
weather4.melt()

   variable      value
0       day     Monday
1       day    Tuesday
2       day  Wednesday
3       day   Thursday
4       day     Friday
5       day   Saturday
6       day     Sunday
7   chicago         32
8   chicago         30
9   chicago         28
10  chicago         22
11  chicago         30
12  chicago         20
13  chicago         25
14  chennai         75
15  chennai         77
16  chennai         75
17  chennai         82
18  chennai         83
19  chennai         81
20  chennai         77
21   berlin         41
22   berlin         43
23   berlin         45
24   berlin         38
25   berlin         30
26   berlin         45
27   berlin         47

In [ ]:
weather_melt.head(4)

   year  month element   day  temperature
0  2018      1     max  day1    17.573016
1  2018      1     min  day1    22.725760
2  2018      2     max  day1    19.015120
3  2018      2     min  day1    18.653843

In [ ]:
weather_tidy=weather_melt.pivot(index=["year","month","day"],
                               columns="element",
                               values="temperature")
weather_tidy

element                 max        min
year month day
2018 1     day1   17.573016  22.725760
           day10  19.067288  19.931129
           day11  19.361002  22.598325
           day12  20.982134  17.715137
           day13  21.668005  17.940334
...                     ...        ...
     12    day5   21.375349  20.865535
           day6   17.992885  20.310116
           day7   19.683359  20.531823
           day8   20.477046  19.310346
           day9   20.210640  22.820992

[341 rows x 2 columns]

In [ ]:
weather_tidy.head(20)

element                 max        min
year month day
2018 1     day1   17.573016  22.725760
           day10  19.067288  19.931129
           day11  19.361002  22.598325
           day12  20.982134  17.715137
           day13  21.668005  17.940334
           day14  19.441664  19.853651
           day15  17.609544  18.662379
           day16  20.245582  17.215839
           day17  17.386774  21.662470
           day18  22.549572  17.202508
           day19  19.898544  19.697496
           day2   19.796815  21.007865
           day20  20.836153  22.182156
           day21  18.427361  21.532442
           day22  22.629226  21.163491
           day23  19.013674  17.371653
           day24  17.831558  17.194530
           day25  17.018316  18.964190
           day26  21.837387  17.892385
           day27  19.700255  17.646139

In [ ]:
weather_tidy=weather_tidy.reset_index()
weather_tidy

element  year  month    day        max        min
0        2018      1   day1  17.573016  22.725760
1        2018      1  day10  19.067288  19.931129
2        2018      1  day11  19.361002  22.598325
3        2018      1  day12  20.982134  17.715137
4        2018      1  day13  21.668005  17.940334
..        ...    ...    ...        ...        ...
336      2018     12   day5  21.375349  20.865535
337      2018     12   day6  17.992885  20.310116
338      2018     12   day7  19.683359  20.531823
339      2018     12   day8  20.477046  19.310346
340      2018     12   day9  20.210640  22.820992

[341 rows x 5 columns]

In [ ]:
weather1

       date      city  temperature  humidity
0  5/1/2017  new york           65        56
1  5/2/2017  new york           66        58
2  5/3/2017  new york           68        60
3  5/1/2017    mumbai           75        80
4  5/2/2017    mumbai           78        83
5  5/3/2017    mumbai           82        85
6  5/1/2017   beijing           80        26
7  5/2/2017   beijing           77        30
8  5/3/2017   beijing           79        35

In [ ]:
weather1.pivot(index="city",
             columns="date")

         temperature                   humidity
date        5/1/2017 5/2/2017 5/3/2017 5/1/2017 5/2/2017 5/3/2017
city
beijing           80       77       79       26       30       35
mumbai            75       78       82       80       83       85
new york          65       66       68       56       58       60

In [ ]:
weather1.pivot(index="city",
             columns="date",
              values="humidity")

date      5/1/2017  5/2/2017  5/3/2017
city
beijing         26        30        35
mumbai          80        83        85
new york        56        58        60

In [ ]:
df1=weather1.pivot(index="date",
             columns="city")
df1

         temperature                 humidity
city         beijing mumbai new york  beijing mumbai new york
date
5/1/2017          80     75       65       26     80       56
5/2/2017          77     78       66       30     83       58
5/3/2017          79     82       68       35     85       60

In [ ]:
weather1.pivot(index="date",
             columns="city",
              values="temperature")

city      beijing  mumbai  new york
date
5/1/2017       80      75        65
5/2/2017       77      78        66
5/3/2017       79      82        68

In [ ]:
df1.columns

MultiIndex([('temperature',  'beijing'),
            ('temperature',   'mumbai'),
            ('temperature', 'new york'),
            (   'humidity',  'beijing'),
            (   'humidity',   'mumbai'),
            (   'humidity', 'new york')],
           names=[None, 'city'])

In [ ]:
weather2

       date      city  temperature  humidity
0  5/1/2017  new york           65        56
1  5/1/2017  new york           61        54
2  5/2/2017  new york           70        60
3  5/2/2017  new york           72        62
4  5/1/2017    mumbai           75        80
5  5/1/2017    mumbai           78        83
6  5/2/2017    mumbai           82        85
7  5/2/2017    mumbai           80        26

In [ ]:
weather2.pivot_table(index="city",
                    columns="date",
                    aggfunc="mean",
                    margins=True)

         humidity                 temperature
date     5/1/2017 5/2/2017    All    5/1/2017 5/2/2017     All
city
mumbai      81.50    55.50  68.50       76.50     81.0  78.750
new york    55.00    61.00  58.00       63.00     71.0  67.000
All         68.25    58.25  63.25       69.75     76.0  72.875

In [ ]:
weather2.pivot_table(index="city",
                    columns="date",
                    aggfunc="max",
                    margins=True)

         humidity              temperature
date     5/1/2017 5/2/2017 All    5/1/2017 5/2/2017 All
city
mumbai         83       85  85          78       82  82
new york       56       62  62          65       72  72
All            83       85  85          78       82  82

In [ ]:
weather2.pivot_table(index="city",
                    columns="date",
                    aggfunc="min",
                    margins=True)

         humidity              temperature
date     5/1/2017 5/2/2017 All    5/1/2017 5/2/2017 All
city
mumbai         80       26  26          75       80  75
new york       54       60  54          61       70  61
All            54       26  26          61       70  61

In [ ]:
weather2.pivot_table(index="city",
                    columns="date",
                    aggfunc="min")

         humidity          temperature
date     5/1/2017 5/2/2017    5/1/2017 5/2/2017
city
mumbai         80       26          75       80
new york       54       60          61       70

In [ ]:
weather2.pivot_table(index="city",
                    columns="date",
                    aggfunc=["mean","max"],
                    margins=True)

             mean                                                   max  \
         humidity                 temperature                  humidity
date     5/1/2017 5/2/2017    All    5/1/2017 5/2/2017     All 5/1/2017
city
mumbai      81.50    55.50  68.50       76.50     81.0  78.750       83
new york    55.00    61.00  58.00       63.00     71.0  67.000       56
All         68.25    58.25  63.25       69.75     76.0  72.875       83


                      temperature
date     5/2/2017 All    5/1/2017 5/2/2017 All
city
mumbai         85  85          78       82  82
new york       62  62          65       72  72
All            85  85          78       82  82

In [ ]:
weather_tidy.head()

element  year  month    day        max        min
0        2018      1   day1  17.573016  22.725760
1        2018      1  day10  19.067288  19.931129
2        2018      1  day11  19.361002  22.598325
3        2018      1  day12  20.982134  17.715137
4        2018      1  day13  21.668005  17.940334

In [ ]:
weather_tidy["max"].max()

22.9403089333132

In [ ]:
weather_tidy["max"].min()

17.0021208843141

In [ ]:
bins=[16,18,20,22,24]
labels=["low","medium","high","Very high"]
weather_tidy["max_category"]=pd.cut(weather_tidy["max"],
                                   bins=bins,
                                   labels=labels)
weather_tidy.head(20)

element  year  month    day        max        min max_category
0        2018      1   day1  17.573016  22.725760          low
1        2018      1  day10  19.067288  19.931129       medium
2        2018      1  day11  19.361002  22.598325       medium
3        2018      1  day12  20.982134  17.715137         high
4        2018      1  day13  21.668005  17.940334         high
5        2018      1  day14  19.441664  19.853651       medium
6        2018      1  day15  17.609544  18.662379          low
7        2018      1  day16  20.245582  17.215839         high
8        2018      1  day17  17.386774  21.662470          low
9        2018      1  day18  22.549572  17.202508    Very high
10       2018      1  day19  19.898544  19.697496       medium
11       2018      1   day2  19.796815  21.007865       medium
12       2018      1  day20  20.836153  22.182156         high
13       2018      1  day21  18.427361  21.532442       medium
14       2018      1  day22  22.629226  21.163491    Very high
15       2018      1  day23  19.013674  17.371653       medium
16       2018      1  day24  17.831558  17.194530          low
17       2018      1  day25  17.018316  18.964190          low
18       2018      1  day26  21.837387  17.892385         high
19       2018      1  day27  19.700255  17.646139       medium

In [ ]:
bins=[16,20,22,24]
labels=["low","medium","high"]
weather_tidy["max_category"]=pd.cut(weather_tidy["max"],
                                   bins=bins,
                                   labels=labels)
weather_tidy

element  year  month    day        max        min max_category
0        2018      1   day1  17.573016  22.725760          low
1        2018      1  day10  19.067288  19.931129          low
2        2018      1  day11  19.361002  22.598325          low
3        2018      1  day12  20.982134  17.715137       medium
4        2018      1  day13  21.668005  17.940334       medium
..        ...    ...    ...        ...        ...          ...
336      2018     12   day5  21.375349  20.865535       medium
337      2018     12   day6  17.992885  20.310116          low
338      2018     12   day7  19.683359  20.531823          low
339      2018     12   day8  20.477046  19.310346       medium
340      2018     12   day9  20.210640  22.820992       medium

[341 rows x 6 columns]

In [ ]:
bins=[16,24,22,44]
labels=["low","medium","high"]
weather_tidy1=pd.cut(weather_tidy["max"],
                                   bins=bins,
                                   labels=labels)
weather_tidy1

ValueError: bins must increase monotonically.

In [ ]:
weather_tidy.to_csv("Weather_tidy1.csv",sep=",")

In [ ]:
!ls

Pandas-1.ipynb    UberDrives.csv    gapminder.csv     weather2.csv
Pandas-2.ipynb    Weather_tidy.csv  movies.csv        weather3.csv
Pandas-3.ipynb    Weather_tidy1.csv weather.csv       weather4.csv
Pandas-4.ipynb    directors.csv     weather1.csv

In [ ]:
df2=pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   [np.nan, 3, np.nan, 4]],
                  columns=["A","B","C","D"])
df2

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [ ]:
df2.isna().sum()

A    3
B    1
C    4
D    1
dtype: int64

In [ ]:
df2.isna()

       A      B     C      D
0   True  False  True  False
1  False  False  True  False
2   True   True  True   True
3   True  False  True  False

In [ ]:
df2.isnull()

       A      B     C      D
0   True  False  True  False
1  False  False  True  False
2   True   True  True   True
3   True  False  True  False

In [ ]:
df2

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [ ]:
df2.isna().sum(axis=1)

0    2
1    1
2    4
3    2
dtype: int64

In [ ]:
df2.isna().sum()

A    3
B    1
C    4
D    1
dtype: int64

In [ ]:
df2

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [ ]:
df2.fillna(0)

     A    B    C    D
0  0.0  2.0  0.0  0.0
1  3.0  4.0  0.0  1.0
2  0.0  0.0  0.0  0.0
3  0.0  3.0  0.0  4.0

In [ ]:
df2["A"].fillna(0)

0    0.0
1    3.0
2    0.0
3    0.0
Name: A, dtype: float64

In [ ]:
df2["B"].fillna(df2["B"].mean())

0    2.0
1    4.0
2    3.0
3    3.0
Name: B, dtype: float64

In [ ]:
df2["B"].fillna(df2["A"].mean())

0    2.0
1    4.0
2    3.0
3    3.0
Name: B, dtype: float64

In [ ]:
df2["A"].mean()

3.0

In [ ]:
df2

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [ ]:
df2.fillna(method="ffill")

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  3.0  4.0 NaN  1.0
3  3.0  3.0 NaN  4.0

In [ ]:
df2.fillna(method="bfill")

     A    B   C    D
0  3.0  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  3.0 NaN  4.0
3  NaN  3.0 NaN  4.0

In [ ]:
uber=pd.read_csv("UberDrives.csv")

In [ ]:
uber

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [ ]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1156 non-null   object
 1   END_DATE*    1155 non-null   object
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB

In [ ]:
uber.drop([1155],inplace=True)

In [ ]:
uber

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site

In [ ]:
uber.isnull().sum()

START_DATE*      0
END_DATE*        0
CATEGORY*        0
START*           0
STOP*            0
MILES*           0
PURPOSE*       502
dtype: int64

In [ ]:
uber[uber.duplicated()]

         START_DATE*        END_DATE* CATEGORY*  START* STOP*  MILES* PURPOSE*
492  6/28/2016 23:34  6/28/2016 23:59  Business  Durham  Cary     9.9  Meeting

In [ ]:
uber.drop_duplicates(inplace=True)

In [ ]:
uber[uber.duplicated()]

Empty DataFrame
Columns: [START_DATE*, END_DATE*, CATEGORY*, START*, STOP*, MILES*, PURPOSE*]
Index: []

In [ ]:
uber.columns=[s[:-1] for s in uber.columns]
uber

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site

In [ ]:
uber.describe(include="all")

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
count,1154,1154,1154,1154,1154,1154.000000,652
unique,1154,1154,2,177,188,NaN,10
top,1/1/2016 21:11,1/1/2016 21:17,Business,Cary,Cary,NaN,Meeting
freq,1,1,1077,201,202,NaN,186
mean,NaN,NaN,NaN,NaN,NaN,10.567418,NaN
std,NaN,NaN,NaN,NaN,NaN,21.588452,NaN
min,NaN,NaN,NaN,NaN,NaN,0.500000,NaN
25%,NaN,NaN,NaN,NaN,NaN,2.900000,NaN
50%,NaN,NaN,NaN,NaN,NaN,6.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,10.400000,NaN
max,NaN,NaN,NaN,NaN,NaN,310.300000,NaN

In [ ]:
uber["START_DATE"]=pd.to_datetime(uber["START_DATE"])
uber

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,2016-01-01 21:11:00,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,2016-01-02 01:25:00,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,2016-01-02 20:25:00,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,2016-01-05 17:31:00,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,2016-01-06 14:42:00,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1150,2016-12-31 01:07:00,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,2016-12-31 13:24:00,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,2016-12-31 15:03:00,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,2016-12-31 21:32:00,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,2016-12-31 22:08:00,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site

In [ ]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1154 entries, 0 to 1154
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   START_DATE  1154 non-null   datetime64[ns]
 1   END_DATE    1154 non-null   object
 2   CATEGORY    1154 non-null   object
 3   START       1154 non-null   object
 4   STOP        1154 non-null   object
 5   MILES       1154 non-null   float64
 6   PURPOSE     652 non-null    object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 72.1+ KB

In [ ]:
uber["END_DATE"]=pd.to_datetime(uber["END_DATE"])
uber

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1150,2016-12-31 01:07:00,2016-12-31 01:14:00,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,2016-12-31 13:24:00,2016-12-31 13:42:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,2016-12-31 15:03:00,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,2016-12-31 21:32:00,2016-12-31 21:50:00,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,2016-12-31 22:08:00,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site

In [ ]:
uber[uber["END_DATE"]==uber["START_DATE"]]

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
751,2016-09-06 17:49:00,2016-09-06 17:49:00,Business,Unknown Location,Unknown Location,69.1,NaN
761,2016-09-16 07:08:00,2016-09-16 07:08:00,Business,Unknown Location,Unknown Location,1.6,NaN
798,2016-10-08 15:03:00,2016-10-08 15:03:00,Business,Karachi,Karachi,3.6,NaN
807,2016-10-13 13:02:00,2016-10-13 13:02:00,Business,Islamabad,Islamabad,0.7,NaN

In [ ]:
uber.drop([751,761,798,807],inplace=True)

In [ ]:
uber[uber["END_DATE"]==uber["START_DATE"]]

Empty DataFrame
Columns: [START_DATE, END_DATE, CATEGORY, START, STOP, MILES, PURPOSE]
Index: []

In [ ]:
ts=uber["END_DATE"][0]

In [ ]:
ts

Timestamp('2016-01-01 21:17:00')

In [ ]:
ts.year

2016

In [ ]:
ts.month

1

In [ ]:
ts.day

1

In [ ]:
ts.month_name()

'January'

In [ ]:
ts.day_name()

'Friday'

In [ ]:
ts.dayofweek

4

In [ ]:
ts.hour

21

In [ ]:
ts.minute

17

In [ ]:
ts.second

0

In [ ]:
uber["END_DATE"].dt.year

0       2016
1       2016
2       2016
3       2016
4       2016
        ...
1150    2016
1151    2016
1152    2016
1153    2016
1154    2016
Name: END_DATE, Length: 1150, dtype: int64

In [ ]:
uber["year"]=uber["END_DATE"].dt.year
uber

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE,year
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,2016
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN,2016
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,2016
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting,2016
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,2016
...,...,...,...,...,...,...,...,...
1150,2016-12-31 01:07:00,2016-12-31 01:14:00,Business,Kar?chi,Kar?chi,0.7,Meeting,2016
1151,2016-12-31 13:24:00,2016-12-31 13:42:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site,2016
1152,2016-12-31 15:03:00,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2,Meeting,2016
1153,2016-12-31 21:32:00,2016-12-31 21:50:00,Business,Katunayake,Gampaha,6.4,Temporary Site,2016
1154,2016-12-31 22:08:00,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site,2016

In [ ]:
uber.describe()

             MILES    year
count  1150.000000  1150.0
mean     10.538957  2016.0
std      21.552360     0.0
min       0.500000  2016.0
25%       2.900000  2016.0
50%       6.000000  2016.0
75%      10.400000  2016.0
max     310.300000  2016.0

In [ ]:
uber["MILES"].mean()

10.538956521739115

In [ ]:
uber["MILES"].median()

6.0

In [ ]:
uber["MILES"].max()

310.3

In [ ]:
uber["MILES"].std()

21.552359680264498

In [ ]:
np.percentile(uber["MILES"],25)

2.9

In [ ]:
np.percentile(uber["MILES"],75)

10.4

In [ ]:
np.percentile(uber["MILES"],75)-np.percentile(uber["MILES"],25)

7.5

In [ ]:
from scipy import stats

In [ ]:
stats.iqr(uber["MILES"])

7.5

In [ ]:
2.9-(1.5*7.5)

-8.35

In [ ]:
10.4+(1.5*7.5)

21.65

In [ ]:
uber[uber["MILES"]>21.65]

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE,year
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,2016
25,2016-01-14 16:29:00,2016-01-14 17:05:00,Business,Houston,Houston,21.9,Customer Visit,2016
36,2016-01-20 13:25:00,2016-01-20 14:19:00,Business,Raleigh,Cary,40.2,Customer Visit,2016
62,2016-02-01 12:10:00,2016-02-01 12:43:00,Business,Chapel Hill,Cary,23.3,Customer Visit,2016
108,2016-02-16 03:21:00,2016-02-16 04:13:00,Business,Katunayaka,Unknown Location,43.7,Customer Visit,2016
...,...,...,...,...,...,...,...,...
979,2016-11-20 10:27:00,2016-11-20 11:32:00,Business,Cary,Cary,39.2,Between Offices,2016
1088,2016-12-21 20:56:00,2016-12-21 23:42:00,Business,Rawalpindi,Unknown Location,103.0,Meeting,2016
1089,2016-12-22 15:40:00,2016-12-22 16:38:00,Business,Unknown Location,Unknown Location,32.3,Meeting,2016
1092,2016-12-22 17:56:00,2016-12-22 18:29:00,Business,Unknown Location,Unknown Location,23.2,Meeting,2016
1154,2016-12-31 22:08:00,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site,2016